<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="=ie=edge">
        <title>Astro Love</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
<div id="howlove" style="color: #d2ccff;text-align:center;  margin-bottom:50px;">
		<p style="margin-bottom:-10px;"></p>	
<span id="headline"  style="font-size: 18pt; color: #d880d1; text-align:center;">Сколько в тебе любви?</span><span style="border: 1px solid #d880d1; display:inline-block;

    color: #d880d1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;position:relative; bottom:2px; left:2px;
							 font-size: 20px;">
	<a href="#zatemnenie_type" style="color:#d880d1;">?</a></span>
		<div id="zatemnenie_type">
      <div id="okno_type">
         Этот процент отражает изначальный потенциал любви, заложенный в вас, и показывает, насколько легко вы дарите и принимаете это чувство. 
<br>
        <a href="#" class="close">Закрыть</a>
      </div>
			</div>
		<p style="margin-bottom:-10px;"></p>	
<p id="headline"  style="font-size: 12pt; color: #d2ccff; text-align:center; width:90%;line-height: 25px; margin:auto;border: 1px solid #d880d1;border-radius: 15px;padding:5px;">
Помните: любовь — это динамическая энергия и даже, если ваш уровень сейчас невысок, его можно развить! 
	</p>
		<p style="margin-bottom:-70px;"></p>
		</div>
<div style="height:300px;">
	<img src="/static/img/icon_love2.png" style="position:relative; z-index: 3;  max-width:300px; margin:auto; ">
	<div id="number" style="font-size: 50pt;color:#d880d1; bottom: 160px;position:relative;text-align:center;">56</div>
	<div style="height:250px;">
<svg class='bigHeart' height="0" width="0">
                                <defs>
                                     <clipPath id=svgClip clipPathUnits="objectBoundingBox" transform="scale(0.01 0.01)">
                                         <path d='M10,30 A20,20,0,0,1,50,30 A20,20,0,0,1,90,30 Q90,60,50,80 Q10,60,10,20 Z'></path>   
                                     </clipPath>
                                </defs>
                                <linearGradient id="my-cool-gradient" x2="1" y2="1">
                                    <stop offset="0%" stop-color="#FF79DA" />
                                    <stop offset="100%" stop-color="#9356DC" />
                                </linearGradient>
                            </svg>
                            <div class="heart-container">
                                <svg viewBox="0 0 0 0" class='heart-stroke'>
                                        <path class=bigHeart d="M10,30 A20,20,0,0,1,50,30 A20,20,0,0,1,90,30 Q90,60,50,90 Q10,60,10,30 Z" />    
                                </svg>
                                <input type='checkbox' class='heart-clip'>
                                <div class="fill">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 400" xml:space="preserve">
                                        <path d="M0,6c100,10,100,-10,200,0c100,10,100,-10,200,0v394h-400Z" class="waveShape"></path>
                                    </svg>
                                </div>
                            </div>
			</div>
	
		</div>
<!--<path d='M10,30 A20,20,0,0,1,50,30 A20,20,0,0,1,90,30 Q90,60,50,90 Q10,60,10,30 Z'>-->

		<p style="margin-bottom:-10px;"></p>
		
<div id="datelove" style="margin-bottom:50px;">
		<table class="table-bordered" style="width:100%; text-align:center; ">
 <tbody>
	 <td style="width:50%;  margin:auto;">
<div style=" text-align:center; " >
	<input type="text" id="date" placeholder="Дата рождения" required/>
		 </div>
	</td>
<tr>
</tr>
 </tbody> 
</table>
	<button id="much" class="button-28" role="button" onclick="know();">Узнать</button>
		</div>
	
         <p style="margin-bottom:-10px;"></p>
		<div id="know_love"style="margin-bottom:70px;">	
			<table class="table-bordered">
            <tbody>
                <tr style="width: 100%;">
                        <li>
					 <details style="color: #d880d1;">
                <summary><span style="font-size: 13pt;"><strong>Сколько в тебе любви?</strong></span></summary>
				 <p></p>

		</details>
					</li>
                   </tr>
				 </tbody>
			</table>
			<table class="table-bordered" style="border:none;">
            <tbody>
                <tr style="width: 100%;">
                  <td style="width:30%;"><img src="/static/img/chacra_1.png" style="width:90%; padding:10px; position:relative; margin:auto;"></td>
              <td style="width:50%; margin:auto;"><p style="text-align:center; right:20px;  position:relative;   font-size:15pt; color: #d880d1;">Сахасрара</p> </td>
             <td style="width:10%;"><p style="text-align:center;position:relative;  right:30px;  font-size:17pt; color: #d880d1;">56%</p> </td>
				
                   </tr>
				 <tr style="width: 100%;">
					 	
                  <td style="width:30%;"><img src="/static/img/chacra_2.png" style="width:90%; padding:10px; position:relative;left:20px; margin:auto;"></td>
             <td style="width:50%; margin:auto;"><p style="text-align:center;right:15px;font-size:15pt; position:relative;  color: #d880d1;">Аджна</p> </td>
            <td style="width:10%;"><p style="text-align:center;position:relative; right:20px;    font-size:17pt; color: #d880d1;">56%</p> </td>
					 
                   </tr>
				 <tr style="width: 100%;">
					 	
                  <td style="width:30%;"><img src="/static/img/chacra_3.png" style="width:90%; padding:10px;position:relative;left:40px; margin:auto;"></td>
               <td style="width:50%; margin:auto;"><p style="text-align:center;right:-10px; font-size:15pt; position:relative;  color: #d880d1;">Вишудха</p> </td>
            <td style="width:10%;"><p style="text-align:center;position:relative; right:10px;    font-size:17pt; color: #d880d1;">56%</p> </td>
					 
                   </tr>
				<tr style="width: 100%;">
					
                  <td style="width:30%;"><img src="/static/img/chacra_4.png" style="width:90%; padding:10px; position:relative;left:60px; margin:auto;"></td>
              <td style="width:50%; margin:auto;"><p style="text-align:center; font-size:15pt;left :20px;   position:relative;  position:relative;  color: #d880d1;">Анахата</p> </td>
            <td style="width:10%;"><p style="text-align:center; font-size:17pt; color: #d880d1;">56%</p> </td>
				
                   </tr>
				<tr style="width: 100%;">
						
                  <td style="width:30%;"><img src="/static/img/chacra_5.png" style="width:90%; padding:10px;position:relative; left:40px;margin:auto;"></td>
              <td style="width:50%; margin:auto;"><p style="text-align:center; font-size:15pt;  right:-10px;  position:relative;  color: #d880d1;">Манипура</p> </td>
           <td style="width:10%;"><p style="text-align:center; position:relative; right:10px;    font-size:17pt; color: #d880d1;">56%</p> </td>
					
                   </tr>
				<tr style="width: 100%;">
					
                  <td style="width:30%;"><img src="/static/img/chacra_6.png" style="width:90%; padding:10px; position:relative;left:20px; margin:auto;"></td>
              <td style="width:50%; margin:auto;"><p style="text-align:center; font-size:15pt; right:0px;   position:relative;  color: #d880d1;">Свадхистана</p> </td>
             <td style="width:10%;"><p style="text-align:center;position:relative; right:20px;     font-size:17pt; color: #d880d1;">56%</p> </td>
				
                   </tr>
				<tr style="width: 100%;">
                  <td style="width:30%;"><img src="/static/img/chacra_7.png" style="width:90%; padding:10px; position:relative; margin:auto;"></td>
              <td style="width:50%; margin:auto;"><p style="text-align:center;right:25px;position:relative;   font-size:15pt; color: #d880d1;">Муладхара</p> </td>
            <td style="width:10%;"><p style="text-align:center; position:relative;right:30px;  font-size:17pt; color: #d880d1;">56%</p> </td>
				
                   </tr>
				 </tbody>
			</table>
		
			   <li>
                            <details style="color: #d880d1;">
					  <summary>
                                    <span style="font-size: 13pt;"><strong>Описание Чакр</strong></span>
                                </summary>
                                <p></p>
                                	<table class="table-bordered">
            <tbody>
                <tr style="width: 100%;">
                        <li>
					 <details style="color: #d880d1;">
                <summary><span style="font-size: 13pt;"><strong>Сахасрара</strong></span></summary>
				 <p></p>

		</details>
					</li>
                   </tr>
				 <tr style="width: 100%;">
                        <li>
					 <details style="color: #d880d1;">
                <summary><span style="font-size: 13pt;"><strong>Аджна</strong></span></summary>
				 <p></p>

		</details>
					</li>
                   </tr>
				<tr style="width: 100%;">
                        <li>
					 <details style="color: #d880d1;">
                <summary><span style="font-size: 13pt;"><strong>Вишудха</strong></span></summary>
				 <p></p>

		</details>
					</li>
                   </tr>
				<tr style="width: 100%;">
                        <li>
					 <details style="color: #d880d1;">
                <summary><span style="font-size: 13pt;"><strong>Анахата</strong></span></summary>
				 <p></p>

		</details>
					</li>
                   </tr>
				<tr style="width: 100%;">
                        <li>
					 <details style="color: #d880d1;">
                <summary><span style="font-size: 13pt;"><strong>Манипура</strong></span></summary>
				 <p></p>

		</details>
					</li>
                   </tr>
				<tr style="width: 100%;">
                        <li>
					 <details style="color: #d880d1;">
                <summary><span style="font-size: 13pt;"><strong>Свадхистана</strong></span></summary>
				 <p></p>

		</details>
					</li>
                   </tr>
				<tr style="width: 100%;">
                        <li>
					 <details style="color: #d880d1;">
                <summary><span style="font-size: 13pt;"><strong>Муладхара</strong></span></summary>
				 <p></p>

		</details>
					</li>
                   </tr>
				 </tbody>
			</table>
                 
		</details>
					</li>
					<p></p>
	<img src="/static/img/icon_in_yan.png" style="position:relative; z-index: 1; max-width:300px; margin:auto; ">
<div style="font-size: 30pt; color:#2d1330; z-index: 2; bottom: 110px; width:80%;  left: 80px; position:relative;text-align:center;">56</div>
<div style="font-size: 30pt;color:#2d1330; z-index: 2; bottom: 230px;right: 70px; position:relative;text-align:center;">44</div>
	<p style="margin-bottom:-50px;"></p>
<table class="table-bordered" style="position:relative; bottom:50px;">
            <tbody>
                <tr style="width: 100%;">
                        <li>
					 <details style="color: #d880d1;">
                <summary><span style="font-size: 13pt;"><strong>Инь Янь</strong></span></summary>
				 <p></p>

		</details>
					</li>
                   </tr>
				 </tbody>
			</table>
			</div>
           <footer>
            <table class="table-bordered" style="background-color:#2d1330; height:50%; margin:auto; width:100%; ">
                <tbody>
                    <tr>
                    <td><img src="/static/img/icon_profile.png" style="width:40%;margin:auto;position:relative; top:10px;" id="profile"/></td>
                    <td><img src="/static/img/icon_love.png" style="width:40%;margin:auto;" id="love_in_me"/></td>
                    <td><img src="/static/img/icon_match.png" style="width:50%;margin:auto;position:relative; top:10px;"id="match" ></td>
                    <td style="width:20%;"><img src="/static/img/icon_speedometr.png" style="width:40%;margin:auto;position:relative; top:10px;" id="speedometr"/></td>
                   <td><img src="/static/img/icon_tarif.png" style="width:40%; margin:auto;position:relative; top:10px;"id="payment"></td>
                   </tr>
                   <tr>
                    <td rowspan="2" ><span style="display:flex;font-size: 10pt;padding: 3px; flex-wrap: wrap;  justify-content: center;flex-direction: row; align-content: space-around; color: #d880d1;"></span></td>
                      <td rowspan="2"><span style="display:flex;font-size: 10pt;padding: 3px; flex-wrap: wrap;  justify-content: center;flex-direction: row; align-content: space-around; color: #d880d1;">Любовь</span></td>
                    <td rowspan="2" ><span style="display:flex;font-size: 10pt;padding: 3px; flex-wrap: wrap;  justify-content: center;flex-direction: row; align-content: space-around; color: #d880d1;"></span></td>
                       <td rowspan="2" > <span style="display:flex;font-size: 10pt;padding: 3px; flex-wrap: wrap;  justify-content: center;flex-direction: row; align-content: space-around; color: #d880d1;"></span></td>
                   <td rowspan="2" > <span style="display:flex;font-size: 10pt;padding: 3px; flex-wrap: wrap;  justify-content: center;flex-direction: row; align-content: space-around; color: #d880d1;"></span></td>
                </tr>
                </tbody> 
            </table>
        </footer>
        <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
        <script src="/static/js/love_anim.js"></script>
    </body>
</html>
